---
import Base from '../layouts/Base.astro';
import { getPublications } from '../lib/publications';

const pubs = getPublications();
---
<Base title="Publications - Yuwen Zhang">
  <h1>Publications</h1>
  {pubs.map(pub => (
    <div class="pub">
      <div class="pub-title">{pub.title}</div>
      <div class="pub-authors">
        {pub.authors.map((a, i) => (
          <>
            {i > 0 && ', '}
            {a.isMe ? (
              <span class="me">{a.name}</span>
            ) : a.url ? (
              <a href={a.url}>{a.name}</a>
            ) : (
              a.name
            )}
          </>
        ))}
      </div>
      <div class="pub-venue">{pub.venue}, {pub.year}</div>
      <div class="pub-links">
        <a href={pub.url}>[paper]</a>
      </div>
    </div>
  ))}
</Base>
